html {
	color-scheme: light dark;
}

body {
	margin: 0 auto;
	font-family: "Adwaita Sans", Helvetica, Arial, sans-serif;
	font-size: 2em;
	padding-left: 5em;
}

/* add left padding for non-mobile screens */
@media screen and (width >= 400) {
	body {
		padding-left: 5em;
	}
}

/* list styling and adaptivity */
li {
	margin: 25px;
}

ul {
	list-style: "> ";
	columns: 3;
}

@media screen and (width <= 90em) {
	ul {
		columns: 2;
	} 
}

@media screen and (width <= 60em) {
	ul {
		columns: 1;
	}
}

/* link styling */
a {
    color: #2a7ae2;
}

a:hover {
    color: light-dark(#000000, #F5F5F5);
}
